li.left {
    float: left;
    display: flex;
    overflow-x: 'auto';
    overflow-y: 'auto';
 }
a{

    text-decoration: none;
    color: orange;
    font-size: 2;
    font-weight: 400;
    flex-wrap: wrap;
    
    flex-wrap: wrap; 
}
li.right {
   
    display: flex;
    text-align:right;
    font-size: 2;
    font-weight: 400;
    float:  'right';
    overflow-x: 'auto';
    overflow-y: 'auto';
}
ul{

    margin-top: 0px;

}

